.case-edit-reconnect{'data-case-id': case_obj.id}
  %h1= title

  .inline-form
    %a.pure-button.button{href: url("/case/#{case_obj.id}/edit")}
      %i.fa.fa-chevron-left= ""
      %span
        = t(:'back')

  .form-main
    %h1= t(:'case/edit/reconnect/link_status/section_title')

    %p
      - if case_reconnect[:id] && case_reconnect[:id].to_i.positive?
        = t(:'case/edit/reconnect/link_status/linked', name: case_reconnect[:name])
      - else
        = t(:'case/edit/reconnect/link_status/not_linked')

  - if case_reconnect[:id] && case_reconnect[:id].to_i.positive?
    %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: url("/case/#{case_obj.id}/edit/rc/sync")}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
      %h1= t(:'case/edit/reconnect/index/sync/section_title')

      %p= t(:'case/edit/reconnect/index/sync/content')

      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-refresh= ""
        = t(:'case/edit/reconnect/index/sync/submit')

    %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: url("/case/#{case_obj.id}/edit/rc/unlink")}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
      %input{type: 'hidden', name: 'confirm', value: '1'}

      %h1= t(:'case/edit/reconnect/index/unlink/section_title')
      %p= t(:'case/edit/reconnect/index/unlink/content')

      %button.pure-button.button.button-error{type: 'submit'}
        %i.fa.fa-unlink= ""
        = t(:'case/edit/reconnect/index/unlink/submit')

  - else
    %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: url("/case/#{case_obj.id}/edit/rc/link")}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

      %h1= t(:'case/edit/reconnect/index/link/section_title')
      %p= t(:'case/edit/reconnect/index/link/content', prn: case_prn)

      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-link= ""
        = t(:'case/edit/reconnect/index/link/submit')

    .page-footer.y-margin
      %span
        %a{href: url("/case/#{case_obj.id}/edit/rc/manual-link")}
          = t(:'case/edit/reconnect/index/manual_link')
