.case-task-add{'data-case-id': case_obj.id}
  %h1= title

  .inline-form
    %a.pure-button.button{href: url("/case/#{case_obj.id}/view")}
      %i.fa.fa-chevron-left= ""
      %span
        = t(:'back')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'case/task/add/section_title')

    %label{for: 'description'}
      = t(:'case/task/add/content_field')
      %span.badge= t(:'required')
    %input#description{name: 'content', type: 'text', required: true, placeholder: t(:'case/task/add/content_field')}

    %label{for: 'assignee'}
      = t(:'case/task/add/assignee_field')
      %span.badge= t(:'required')
    %input.user-search-field#assignee{name: 'assignee', type: 'text', required: true, placeholder: t(:'user_id'), 'data-only-case-assigned': case_obj.id.to_s}

    %label{for: 'deadline'}
      = t(:'case/task/add/deadline_field')
      %span.badge= t(:'required')
    %input#deadline{type: 'date', name: 'deadline', required: true, value: default_deadline.strftime('%Y-%m-%d')}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil-square-o= ""
      = t(:'case/task/add/submit')

.async-load{:'data-sources' => JSON.generate(['/static/user_search.bundle.js'])}
