.case-task-edit{'data-case-id': case_obj.id}
  %h1= title

  .inline-form
    %a.pure-button.button{href: url("/case/#{case_obj.id}/view##{task_obj.anchor}")}
      %i.fa.fa-chevron-left= ""
      %span
        = t(:'back')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'case/task/edit/edit/section_title')

    %label{for: 'description'}= t(:'case/task/edit/edit/content_field')
    %input#description{name: 'content', type: 'text', required: true, placeholder: t(:'case/task/edit/edit/content_field'), value: task_content}

    %label{for: 'assignee'}= t(:'case/task/edit/edit/assignee_field')
    %select#assignee{name: 'assignee', required: true}
      - case_accessors.each do |u|
        %option{value: u[:id], selected: u[:id] == task_assignee.id}
          &= u[:name]

          = surround ' (', ') ' do
            ID
            &= u[:id]

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil-square-o= ""
      = t(:'case/note/edit/edit/submit')

  - if task_obj.completion.nil?
    %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: urls[:complete]}
      %h1= t(:'case/task/edit/complete/section_title')

      - if current_user.id == task_obj.assigned_to || current_user.id == task_obj.author
        %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

        %p= t(:'case/task/edit/complete/content')

        %button.pure-button.button.button-success{type: 'submit'}
          %i.fa.fa-check= ""
          = t(:'case/task/edit/complete/submit')

      - else
        .message.message-error
          = t(:'case/task/edit/complete/errors/not_author')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: urls[:delete]}
    %h1= t(:'case/task/edit/delete/section_title')

    - if current_user.id == task_obj.assigned_to || current_user.id == task_obj.author
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

      %label{for: 'delete-confirm'}
        = t(:'case/task/edit/delete/confirm')
      %input#delete-confirm{name: 'confirm', type: 'text', required: true}

      %button.pure-button.button.button-error{type: 'submit'}
        %i.fa.fa-trash= ""
        = t(:'case/task/edit/delete/submit')

    - else
      .message.message-error
        = t(:'case/task/edit/delete/errors/not_author')
