%h1= t(:'dashboard/content/welcome', user_name: user[:name])

.pure-g
  .pure-u-1{class: quick_links.empty? ? '' : 'pure-u-lg-2-3'}
    - unless cases_new_mail.empty?
      .form-main
        %h1= t(:'dashboard/cases_new_mail/section_title')

        %ul
          - cases_new_mail.each do |c|
            %li
              %a{href: c[:url]}
                &= c[:name]

    - if unassigned_requests && !unassigned_requests.empty?
      .form-main
        %h1= t(:'dashboard/unassigned_requests/section_title')
        %ul
          - unassigned_requests.each do |c|
            %li
              %ul.inline-list
                %li
                  %a{href: c[:view_url]}><
                    %strong><
                      &= c[:case_name]

                %li
                  = succeed ': ' do
                    = t(:'dashboard/unassigned_requests/request_ts')
                  = t(:'case_renderable/creation', ts: c[:request_ts])

    .form-main
      %h1= t(:'dashboard/tasks/section_title')

      - if tasks.empty?
        %p= t(:'dashboard/tasks/no_tasks')

      %ul.block-list
        - tasks.each do |c|
          %li
            .dashboard-task-meta
              %ul.inline-list
                %li
                  = t(:'dashboard/tasks/item/content', name: c[:case_name], casetype: c[:case_type])

                %li
                  %a.case-view-task-editlink{href: c[:edit_url]}
                    %i.fa.fa-gear= ""
                    %span.sr-only
                      = t(:'dashboard/tasks/item/edit')

                %li
                  %a.case-view-task-editlink{href: "#{c[:view_url]}##{c[:anchor]}"}
                    %i.fa.fa-external-link= ""
                    %span.sr-only
                      = t(:'dashboard/tasks/item/view')

                %li
                  %a.case-view-task-editlink{href: "#{c[:edit_url]}#mark-complete"}
                    %i.fa.fa-check= ""
                    %span
                      = t(:'dashboard/tasks/item/mark_as_completed')

            .dashboard-task-content
              %blockquote
                = c[:task_content]

    - if has_role?('case:spend:can_approve') && !spends.empty?
      .form-main
        %h1= t(:'dashboard/unapproved_spends/section_title')

        %ul
          - spends.each do |sp|
            %li
              .dashboard-spend-meta
                %ul.inline-list
                  %li
                    %span
                      = t(:'dashboard/unapproved_spends/item/content', amount: sp[:spend_amount], name: sp[:case_name])

                  %li
                    %a.case-view-task-editlink{href: sp[:edit_url]}
                      %i.fa.fa-gear= ""
                      %span.sr-only
                        = t(:'dashboard/unapproved_spends/item/edit')

                  %li
                    %a.case-view-task-editlink{href: "#{sp[:view_url]}##{sp[:anchor]}"}
                      %i.fa.fa-external-link= ""
                      %span.sr-only
                        = t(:'dashboard/unapproved_spends/item/view')

                  %li
                    %a.case-view-task-editlink{href: sp[:approve_url]}
                      %i.fa.fa-check= ""
                      %span
                        = t(:'dashboard/unapproved_spends/item/approve')

              .dashboard-spend-content
                %blockquote
                  = sp[:spend_content]

    - if has_role?('case:spend:can_approve') && !spends_incomplete.empty?
      .form-main
        %h1= t(:'dashboard/incomplete_spends/section_title')

        %ul
          - spends_incomplete.each do |sp|
            %li
              .dashboard-spend-meta
                %ul.inline-list
                  %li
                    %span
                      = t(:'dashboard/incomplete_spends/item/content', amount: sp[:spend_amount], name: sp[:case_name])

                  %li
                    %a.case-view-task-editlink{href: sp[:edit_url]}
                      %i.fa.fa-gear= ""
                      %span.sr-only
                        = t(:'dashboard/incomplete_spends/item/edit')

                  %li
                    %a.case-view-task-editlink{href: "#{sp[:view_url]}##{sp[:anchor]}"}
                      %i.fa.fa-external-link= ""
                      %span.sr-only
                        = t(:'dashboard/incomplete_spends/item/view')

              .dashboard-spend-content
                %blockquote
                  = sp[:spend_content]

    - if has_role?('case:correspondence:can_approve') && !correspondence.empty?
      .form-main
        %h1= t(:'dashboard/unapproved_correspondence/section_title')

        %ul
          - correspondence.each do |sp|
            %li
              .dashboard-correspondence-meta
                %ul.inline-list
                  %li
                    %span
                      = t(:'dashboard/unapproved_correspondence/item/content', name: sp[:case_name])

                  %li
                    %a.case-view-task-editlink{href: sp[:edit_url]}
                      %i.fa.fa-gear= ""
                      %span.sr-only
                        = t(:'dashboard/unapproved_correspondence/item/edit')

                  %li
                    %a.case-view-task-editlink{href: "#{sp[:view_url]}##{sp[:anchor]}"}
                      %i.fa.fa-external-link= ""
                      %span.sr-only
                        = t(:'dashboard/unapproved_correspondence/item/view')

                  %li
                    %a.case-view-task-editlink{href: sp[:approve_url]}
                      %i.fa.fa-check= ""
                      %span
                        = t(:'dashboard/unapproved_correspondence/item/approve')

              .dashboard-spend-content
                %blockquote
                  = sp[:cc_subject]

    .form-main
      %h1= t(:'dashboard/cases/section_title')

      - if cases.empty?
        %p= t(:'dashboard/cases/no_cases')

      %ul.block-list
        - cases.each do |c|
          %li
            %a{href: c[:url]}
              &= c[:name]

  - unless quick_links.empty?
    .pure-u-1.pure-u-lg-1-3
      .form-main.x-margin.ql--container
        %h1= t(:'dashboard/quick_links/section_title')

        - quick_links.each do |ql|
          %a.pure-button.button.ql--link{href: ql[:url]}
            - if ql[:icon]
              %i.fa{class: ql[:icon]}= ""

            &= ql[:name]
