%h1= title
%p= t(:'dashboard/content/welcome', user_name: user[:name])

.form-main
  %h1= t(:'dashboard/cases/section_title')

  - if cases.empty?
    %p= t(:'dashboard/cases/no_cases')

  %ul.block-list
    - cases.each do |c|
      %li
        %a{href: c[:url]}
          &= c[:name]

.form-main
  %h1= t(:'dashboard/tasks/section_title')

  - if tasks.empty?
    %p= t(:'dashboard/tasks/no_tasks')

  %ul.block-list
    - tasks.each do |c|
      %li
        .dashboard-task-meta
          %ul.inline-list
            %li
              = t(:'dashboard/tasks/item/content', name: c[:case_name])

            %li
              %a.case-view-task-editlink{href: c[:view_url]}
                %i.fa.fa-external-link= ""
                = t(:'dashboard/tasks/item/view')

            %li
              %a.case-view-task-editlink{href: c[:edit_url]}
                %i.fa.fa-gear= ""
                = t(:'dashboard/tasks/item/edit')

        .dashboard-task-content
          %blockquote
            = c[:task_content]

- if has_role?('case:spend:can_approve')
  .form-main
    %h1= t(:'dashboard/unapproved_spends/section_title')

    - if spends.empty?
      %p= t(:'dashboard/unapproved_spends/no_spends')

    %ul
      - spends.each do |sp|
        %li
          .dashboard-spend-meta
            %ul.inline-list
              %li
                %span
                  = t(:'dashboard/unapproved_spends/item/content', amount: sp[:spend_amount], name: sp[:case_name])

              %li
                %a.case-view-task-editlink{href: sp[:view_url]}
                  %i.fa.fa-external-link= ""
                  = t(:'dashboard/unapproved_spends/item/view')

              %li
                %a.case-view-task-editlink{href: sp[:approve_url]}
                  %i.fa.fa-check-square-o= ""
                  = t(:'dashboard/unapproved_spends/item/approve')

          .dashboard-spend-content
            %blockquote
              = sp[:spend_content]
