#system-admin-prisons
  %h1= title

  %a.pure-button.button{href: url("/system/prison/sync")}
    %i.fa.fa-refresh= ""
    = t(:'system/prison/sync')

  .form-main
    %h1= t(:'system/prison/list/section_title')

    - if prisons.empty?
      %p= t(:'system/prison/list/empty')

    %ul.fa-ul
      - prisons.each do |pr|
        %li
          - if pr[:reconnect_id]
            %i.fa.fa-li.fa-link= ""
          - else
            %i.fa.fa-li.fa-warning= ""

          %a{href: url("/system/prison/#{pr[:id]}/edit")}><
            &= pr[:name]

          - unless pr[:reconnect_id]
            %span.badge{style: 'margin:0 0.5rem'}
              = t(:'system/prison/list/no_rc')
