%h1= title

.inline-form
  - if has_role?('case:create')
    %a.pure-button.button{href: url('/case/create')}
      %i.fa.fa-plus= ""
      = t(:'case/create/title')

  - if has_role?('case:list:cases')
    %a.pure-button.button{href: url('/case/list')}
      %i.fa.fa-list= ""
      = t(:'case/list/title')

  - if has_role?('case:list:tasks')
    %a.pure-button.button{href: url('/case/list-tasks')}
      %i.fa.fa-list= ""
      = t(:'case/list_tasks/title')

- if has_role?("case:search")
  %form.pure-form.pure-form-stacked.form-main{method: 'GET', action: url('/case/search')}
    %h1= t(:'case/index/search/section_title')

    %label{for: 'search_type'}= t(:'case/index/search/field_type')
    %select#search_type{name: 'type', required: true}
      %option{value: 'prn'}= t(:'case/index/search/field_type/prn')
      %option{value: 'name'}= t(:'case/index/search/field_type/name')
      -# %option{value: 'prison'}= t(:'case/index/search/field_type/prison')
      -# %option{value: 'advocate'}= t(:'case/index/search/field_type/advocate')

    %label{for: 'search_query'}= t(:'case/index/search/field_query')
    %input#search_query{name: 'query', type: 'text', required: true, placeholder: t(:'case/index/search/field_query')}

    %button.pure-button.button{type: 'submit'}
      %i.fa.fa-search= ""
      = t(:'case/index/search/submit')

.form-main#cases-assigned
  %h1= t(:'case/index/cases/section_title')

  - if cases.empty?
    %p= t(:'case/index/cases/no_cases')

  %ul.block-list
    - cases.each do |c|
      %li
        %a{href: c[:url]}
          &= c[:name]

        %ul
          %li
            - unless c[:advocates].empty?
              = succeed ': ' do
                = t(:'advocate/plural')
                
              %ul
                - c[:advocates].each do |ad|
                  %li
                    - if has_role?("case:search")
                      %a{href: url("/case/search?type=advocate&query=#{ad[:id]}"), title: "User[#{ad[:id]}]"}><
                        &= ad[:name]

                    - else
                      %span{title: "User[#{ad[:id]}]"}><
                        &= ad[:name]

                    - if cuser.id == ad[:id]
                      &nbsp;
                      %span.badge
                        %i.fa.fa-user-o= ""
                        = t(:'thats_you')

            - else
              %i.fa.fa-warning= ""
              = t(:'advocate/none_assigned')

          %li
            - if c[:last_note]
              = succeed ': ' do
                = t(:'case/index/cases/item/last_note')

              %time{datetime: c[:last_note][:creation].strftime("%Y-%m-%d %H:%M")}
                = t(:'case_renderable/creation', ts: c[:last_note][:creation])

              %span{title: "User[#{c[:last_note][:advocate][:id]}]"}
                - if c[:last_note][:advocate][:id].zero?
                  = t(:'case/index/cases/item/last_note/author', name: t(:'author/robot'))
                - else
                  = t(:'case/index/cases/item/last_note/author', name: c[:last_note][:advocate][:name])

            - else
              = t(:'case/index/cases/item/last_note/none')

          %li
            - if c[:last_spend]
              = succeed ': ' do
                = t(:'case/index/cases/item/last_spend')

              %time{datetime: c[:last_spend][:creation].strftime("%Y-%m-%d %H:%M")}
                = t(:'case_renderable/creation', ts: c[:last_spend][:creation])

              %span{title: "User[#{c[:last_spend][:author][:id]}]"}
                = t(:'case/index/cases/item/last_spend/author', name: c[:last_spend][:author][:name])

              - if c[:last_spend][:author][:id] != c[:last_spend][:approver][:id]
                %span{title: "User[#{c[:last_spend][:approver][:id]}]"}
                = t(:'case/index/cases/item/last_spend/approver', name: c[:last_spend][:approver][:name])

              %span{title: c[:last_spend][:fid]}
                = surround '(' ,')' do
                  = t(:'case_renderable/spend/amount', amount: c[:last_spend][:amount])

            - else
              = t(:'case/index/cases/item/last_spend/none')

          - if c[:last_unapproved_spend]
            %li
              = succeed ': ' do
                = t(:'case/index/cases/item/last_unapproved_spend')

              %time{datetime: c[:last_unapproved_spend][:creation].strftime("%Y-%m-%d %H:%M")}
                = t(:'case_renderable/creation', ts: c[:last_unapproved_spend][:creation])

              %span{title: "User[#{c[:last_unapproved_spend][:author][:id]}]"}
                = t(:'case/index/cases/item/last_unapproved_spend/author', name: c[:last_unapproved_spend][:author][:name])

              %span{title: c[:last_unapproved_spend][:fid]}
                = surround '(' ,')' do
                  = t(:'case_renderable/spend/amount', amount: c[:last_unapproved_spend][:amount])

          %li
            %span
              = succeed ': ' do
                = t(:'case/index/cases/item/total_spend')

            %ul
              %li
                = succeed ': ' do
                  = t(:'case/index/cases/item/total_spend/month')
                = t(:'case_renderable/spend/amount', amount: c[:total_spend][:month][:amount])

              %li
                = succeed ': ' do
                  = t(:'case/index/cases/item/total_spend/year')

                = t(:'case_renderable/spend/amount', amount: c[:total_spend][:year][:amount])
                = surround '(', ')' do
                  = t(:'case/index/cases/item/total_spend/year/percent', c[:total_spend][:year])

.form-main#projects
  %h1= t(:'case/index/projects/section_title')

  - if projects.empty?
    %p= t(:'case/index/projects/no_projects')

  %ul.block-list
    - projects.each do |c|
      %li
        %a{href: c[:url]}
          &= c[:name]

        %ul
          - if c[:is_private]
            %li
              = t(:'case/index/projects/item/is_private')

          %li
            = succeed ': ' do
              = t(:'case/index/projects/item/assigned_count')
            %code
              = c[:assignee_count]

            - if c[:we_are_assigned]
              = t(:'case/index/projects/item/assigned_count/including_us')

