%h1= title

.inline-form
  %a.pure-button.button{href: url('/case')}
    %i.fa.fa-chevron-left= ""
    = t(:'back')

%form.pure-form.pure-form-stacked.form-main{method: 'GET'}
  %h1= t(:'case/list/sort/section_title')

  %label{for: 'sort'}= t(:'case/list/sort/value')
  %select#sort{name: 'sort'}
    - %w[assigned purpose].each do |so|
      %option{value: so, selected: so == sort.to_s}
        = t("case/list/sort/#{so}".to_sym)

  %button.pure-button.button.button-primary{type: 'submit'}
    %i.fa.fa-sort= ""
    = t(:'case/list/sort/submit')

- if cases.empty?
  %p= t(:'case/list/no_cases')

- cases.each do |title, caselist|
  .form-main
    %h1= t(title)

    - if caselist.empty?
      %p= t(:'case/list/no_cases')

    %ul.block-list
      - caselist.each do |c|
        %li
          %a{href: c[:url]}
            &= c[:name]

          %ul
            %li
              = succeed ': ' do
                = t(:'prison')
              %span
                &= c[:prison]&.decrypt(:name) || t(:'unknown')

            %li
              = succeed ': ' do
                = t(:'prisoner_number')
              %code
                &= c[:prn]
