.case-search-results
  %h1= title

  .form-main
    %h1= t(:'case/search/section_title')
    %p= query

    %ul
      - results.each do |res|
        %li
          .searchres-name
            %a{href: res[:url]}
              &= res[:name]

          .searchres-meta
            %ul
              - if res[:prn]
                %li
                  = succeed ': ' do
                    = t(:'prisoner_number')
                  %code
                    &= res[:prn]

              - if res[:prison]
                %li
                  = succeed ': ' do
                    = t(:'prison')
                  %span
                    &= res[:prison][:name]

              - unless res[:advocates].empty?
                %li
                  = succeed ': ' do
                    = t(:'advocate/plural')
                    
                  %ul
                    - res[:advocates].each do |ad|
                      %li
                        %a{href: url("/case/search?type=advocate&query=#{ad[:id]}"), title: "User[#{ad[:id]}]"}><
                          &= ad[:name]

                        - if cuser.id == ad[:id]
                          &nbsp;
                          %span.badge
                            %i.fa.fa-user-o= ""
                            = t(:'thats_you')
