.case-view{'data-case-id': case_obj.id}
  %h1= title

  .case-view-actions.inline-form
    %a.pure-button.button{href: url("/case/#{case_obj.id}/mail")}
      %i.fa.fa-envelope-o= ""
      %span
        = t(:'case/view/actions/send_mail')

    %a.pure-button.button{href: url("/case/#{case_obj.id}/edit")}
      %i.fa.fa-gear= ""
      %span
        = t(:'case/view/actions/edit')

  .form-main
    %h1= t(:'case/view/spend_summary/section_title')

    .case-view-spendmeter
      .case-view-spendmeter-inner{style: "width: #{(spend_year_percent > 1.0 ? 1.0 : spend_year_percent) * 100}%"}
        = "#{spend_year_percent * 100}%"

    %p= t(:'case/view/spend_summary/content', amount: spend_year, max: spend_year_max)

  .form-main
    %h1= t(:'case/view/entries/section_title')

    .inline-form
      %a.pure-button.button{href: "#case-view-renderables-end"}
        %i.fa.fa-arrow-down= ""
        %span.sr-only
          = t(:'case/view/actions/to_end_of_entries')

      %a.pure-button.button{href: url("/case/#{case_obj.id}/note/add")}
        %i.fa.fa-pencil-square-o= ""
        %span
          = t(:'case/view/actions/add_note')

      %a.pure-button.button{href: url("/case/#{case_obj.id}/spend/add")}
        %i.fa.fa-dollar= ""
        %span
          = t(:'case/view/actions/add_spend')

    .case-view-renderables
      - renderables.each do |rb|
        = haml :'partials/case_renderable', layout: false, locals: {rb: rb}

      #case-view-renderables-end= ""
