.case-view{'data-case-id': case_obj.id}
  %h1= title

  = haml :'partials/case_header', layout: false, locals: {caseid: case_obj.id}

  - if case_obj.assigned_advocate.nil?
    .message.message-warning
      %i.fa.fa-warning= ""
      = t(:'case/view/no_advocate_assigned')

  .form-main
    %h1= t(:'case/view/spend_summary/section_title')

    .case-view-spendmeter
      .case-view-spendmeter-inner{style: "width: #{(spend_year_percent > 1.0 ? 1.0 : spend_year_percent) * 100}%"}
        = "#{spend_year_percent * 100}%"

    %p= t(:'case/view/spend_summary/content', amount: spend_year, max: spend_year_max)

  .form-main#case-view-renderables
    %h1= t(:'case/view/entries/section_title')

    .inline-form
      %a.pure-button.button{href: "#case-view-renderables-end", title: t(:'case/view/actions/to_end_of_entries')}
        %i.fa.fa-arrow-down= ""
        %span.sr-only
          = t(:'case/view/actions/to_end_of_entries')

      %a.pure-button.button{href: url("/case/#{case_obj.id}/note/add")}
        %i.fa.fa-pencil-square-o= ""
        %span
          = t(:'case/view/actions/add_note')

      %a.pure-button.button{href: url("/case/#{case_obj.id}/spend/add")}
        %i.fa.fa-dollar= ""
        %span
          = t(:'case/view/actions/add_spend')

    .case-view-renderables
      - if renderables.empty?
        .message.message-warning
          = t(:'case/view/entries/no_entries')

      - renderables.each do |rb|
        = haml :'partials/case_renderable', layout: false, locals: {rb: rb}

      #case-view-renderables-end= ""

    .inline-form
      %a.pure-button.button{href: "#case-view-renderables", title: t(:'case/view/actions/to_start_of_entries')}
        %i.fa.fa-arrow-up= ""
        %span.sr-only
          = t(:'case/view/actions/to_start_of_entries')
