.case-view{'data-case-id': case_obj.id}
  %h1= title

  .case-view-actions.inline-form
    %a.pure-button.button{href: url("/case/#{case_obj.id}/mail")}
      %i.fa.fa-envelope-o= ""
      %span
        = t(:'case/view/actions/send_mail')

    %a.pure-button.button{href: url("/case/#{case_obj.id}/edit")}
      %i.fa.fa-gear= ""
      %span
        = t(:'case/view/actions/edit')

  .form-main
    %h1= t(:'case/view/spend_summary/section_title')

    .case-view-spendmeter
      .case-view-spendmeter-inner{style: "width: #{(spend_year_percent > 1.0 ? 1.0 : spend_year_percent) * 100}%"}
        = "#{spend_year_percent * 100}%"

    %p= t(:'case/view/spend_summary/content', amount: spend_year)
