.case-view{'data-case-id': case_obj.id}
  %h1= title

  = haml :'partials/case_header', layout: false, locals: {caseid: case_obj.id}

  - unless case_obj.assigned_advocate&.positive?
    .message.message-warning
      %i.fa.fa-warning= ""
      = t(:'case/view/no_advocate_assigned')

  - unless case_obj.reconnect_id.to_i.positive?
    .message.message-warning
      %i.fa.fa-warning= ""
      = t(:'case/view/no_reconnect_link')

  .form-main
    %h1= t(:'case/view/details/section_title')

    %ul
      - if case_prison
        %li
          = succeed ': ' do
            = t(:'prison')
          %span
            &= case_prison.decrypt(:name)

      - if case_obj.prisoner_number
        %li
          = succeed ': ' do
            = t(:'prisoner_number')
          %code
            &= case_obj.decrypt(:prisoner_number)

      - if case_address
        %li
          = succeed ': ' do
            = t(:'case/view/details/address')
          %code
            &= case_address

  .form-main
    %h1= t(:'case/view/spend_summary/section_title')

    .case-view-spendmeter
      .case-view-spendmeter-inner{style: "width: #{(spend_year_percent > 1.0 ? 1.0 : spend_year_percent) * 100}%"}
        = "#{spend_year_percent * 100}%"

    %p= t(:'case/view/spend_summary/content', amount: spend_year, max: spend_year_max)

  .form-main#case-view-tasks
    %h1= t(:'case/view/tasks/section_title')

    .inline-form
      %a.pure-button.button{href: url("/case/#{case_obj.id}/task/add")}
        %i.fa.fa-check-square-o= ""
        %span
          = t(:'case/view/actions/add_task')

      %a.pure-button.button{href: tasks_complete_toggle}
        %i.fa{class: "fa-toggle-#{tasks_complete ? 'on' : 'off'}"}= ""
        = t("case/view/tasks/complete/#{tasks_complete ? 'on' : 'off'}".to_sym)

    - if tasks.empty?
      .message.message-warning
        = t(:'case/view/tasks/no_tasks')

    %ul.case-view-tasks
      - tasks.each do |t|
        %li
          %ul.inline-list
            %li
              - if t[:completion]
                %i.fa.fa-check= ""

              &= t[:content]

            %li
              %a.case-view-task-editlink{href: t[:url]}
                %i.fa.fa-gear= ""
                %span.sr-only
                  = t(:'case/view/tasks/item/edit')

            %li
              %a.case-view-task-editlink{href: "##{t[:anchor]}"}
                %i.fa.fa-external-link= ""
                %span.sr-only
                  = t(:'case/view/tasks/item/jump_to_log')

          %ul
            %li
              %ul.inline-list
                %li
                  = succeed ': ' do
                    = t(:'case_renderable/task/author')

                  %span.case-task-author
                    %strong{title: "User[#{t[:author][:id]}]"}
                      &= t[:author][:name]

                    - if t[:author][:me]
                      %span.badge
                        %i.fa.fa-user-o= ""
                        = t(:'thats_you')

                %li
                  = succeed ': ' do
                    = t(:'case_renderable/task/assigned')

                  %span.case-task-assigned
                    %strong{title: "User[#{t[:assigned_to][:id]}]"}
                      &= t[:assigned_to][:name]

                    - if t[:assigned_to][:me]
                      %span.badge
                        %i.fa.fa-user-o= ""
                        = t(:'thats_you')

            %li
              %ul.inline-list
                %li
                  = succeed ': ' do
                    = t(:'case/view/tasks/item/added')

                  = t(:'case_renderable/creation', ts: t[:creation])

                - if t[:completion]
                  %li
                    = succeed ': ' do
                      = t(:'case/view/tasks/item/completed')

                    = t(:'case_renderable/creation', ts: t[:completion])

  .form-main#case-view-renderables
    %h1= t(:'case/view/entries/section_title')

    .inline-form
      %a.pure-button.button{href: "#case-view-renderables-end", title: t(:'case/view/actions/to_end_of_entries')}
        %i.fa.fa-arrow-down= ""
        %span.sr-only
          = t(:'case/view/actions/to_end_of_entries')

      %a.pure-button.button{href: url("/case/#{case_obj.id}/note/add")}
        %i.fa.fa-pencil-square-o= ""
        %span
          = t(:'case/view/actions/add_note')

      %a.pure-button.button{href: url("/case/#{case_obj.id}/spend/add")}
        %i.fa.fa-dollar= ""
        %span
          = t(:'case/view/actions/add_spend')

    .case-view-renderables
      - if renderables.empty?
        .message.message-warning
          = t(:'case/view/entries/no_entries')

      - renderables.each do |rb|
        = haml "partials/case_renderable/#{rb[:type]}".to_sym, layout: false, locals: {rb: rb}

      #case-view-renderables-end= ""

    .inline-form
      %a.pure-button.button{href: "#case-view-renderables", title: t(:'case/view/actions/to_start_of_entries')}
        %i.fa.fa-arrow-up= ""
        %span.sr-only
          = t(:'case/view/actions/to_start_of_entries')

    .page-footer
      %ul.inline-list
        %li= t(:'case/view/options')
        %li
          %a.case-view-task-editlink{href: renderable_updates_toggle}
            %i.fa{class: "fa-toggle-#{renderable_updates ? 'on' : 'off'}"}= ""
            = t("case/view/options/renderable_updates/#{renderable_updates ? 'on' : 'off'}".to_sym)
