- if rb[:type] == :case_note
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-author
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %i.fa.fa-fw{title: rb[:id], class: (rb[:case_note].is_outside_request ? 'fa-question' : 'fa-file-text-o')}
            = ""

        - if rb[:author][:id].zero?
          - if rb[:outside_request]
            = t(:'case_renderable/note/author/outside_request')

          - else
            = succeed ': ' do
              = t(:'case_renderable/note/author')

            %strong
              = t(:'author/robot')

        - else
          = succeed ': ' do
            = t(:'case_renderable/note/author')

          %strong{title: "User[#{rb[:author][:id]}]"}
            &= rb[:author][:name]

          - if rb[:author][:me]
            %span.badge
              %i.fa.fa-user-o= ""
              = t(:'thats_you')

      %ul.inline-list
        %li
          %span.case-renderable-creation
            = t(:'case_renderable/creation', ts: rb[:creation])

            - if rb[:edited]
              %span.case-renderable-creation-edited{title: t(:'case_renderable/creation', ts: rb[:edited])}
                = t(:'case_renderable/creation/edited')

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      - if rb[:outside_request]
        .cr-outsidereq-meta-author
          %ul.inline-list
            %li
              = succeed ': ' do
                = t(:'case_renderable/note/outside_request/name')
              %strong
                &= rb[:metadata][:name]

            - if rb[:metadata][:phone]
              %li
                = succeed ': ' do
                  = t(:'case_renderable/note/outside_request/phone')
                %span
                  &= rb[:metadata][:phone]

            - if rb[:metadata][:email]
              %li
                = succeed ': ' do
                  = t(:'case_renderable/note/outside_request/email')
                %span
                  &= rb[:metadata][:email]

        - if rb[:metadata][:prison]
          .cr-outsidereq-meta-prison
            %ul.inline-list
              %li
                = succeed ': ' do
                  = t(:'case_renderable/note/outside_request/prison')
                %span
                  &= rb[:metadata][:prison]

        %blockquote.blockquote-fancy
          = rb[:content]

      - else
        = rb[:content]

- if rb[:type] == :note_update
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-author
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %span{title: rb[:id]}
            %i.fa.fa-pencil.fa-fw= ""

          = succeed ': ' do
            = t(:'case_renderable/note/update/edit/author')

          - if rb[:author][:id].zero?
            %strong
              = t(:'author/robot')

          - else
            %strong{title: "User[#{rb[:author][:id]}]"}
              &= rb[:author][:name]

            - if rb[:author][:me]
              %span.badge
                %i.fa.fa-user-o= ""
                = t(:'thats_you')

      %ul.inline-list
        %li
          %span.case-renderable-creation
            = t(:'case_renderable/creation', ts: rb[:creation])

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      - if rb[:update][:type] == :edit
        %ul
          - unless rb[:update][:old_content] == rb[:update][:new_content]
            %li
              = succeed ': ' do
                = t(:'case_renderable/note/update/edit/old_content')

              %blockquote
                = rb[:update][:old_content]

            %li
              = succeed ': ' do
                = t(:'case_renderable/note/update/edit/new_content')

              %blockquote
                = rb[:update][:new_content]

- if rb[:type] == :spend
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-fund
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %i.fa.fa-fw{title: rb[:id], class: 'fa-dollar'}
            = ""

        = succeed ': ' do
          = t(:'case_renderable/spend/content')

        %span
          = t(:'case_renderable/spend/amount', amount: rb[:amount])

      %ul.inline-list
        %li
          = t(:'case_renderable/creation', ts: rb[:creation])

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      %ul.inline-list
        %li
          = succeed ': ' do
            = t(:'case_renderable/spend/author')

          %strong{title: "User[#{rb[:author][:id]}]"}
            &= rb[:author][:name]

          - if rb[:author][:me]
            %span.badge
              %i.fa.fa-user-o= ""
              = t(:'thats_you')

        - if rb[:approver][:id].positive?
          - if rb[:approver][:id] != rb[:author][:id]
            %li
              = succeed ': ' do
                = t(:'case_renderable/spend/approver')

              %strong{title: "User[#{rb[:approver][:id]}]"}
                &= rb[:approver][:name]

              - if rb[:approver][:me]
                %span.badge
                  %i.fa.fa-user-o= ""
                  = t(:'thats_you')

        - else
          %li
            %i.fa.fa-warning= ""
            = t(:'case_renderable/spend/unapproved')

      %blockquote.blockquote-fancy
        = rb[:notes]

- if rb[:type] == :spend_approve
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-fund
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %i.fa.fa-fw{title: rb[:id], class: 'fa-dollar'}
            = ""

        = succeed ': ' do
          = t(:'case_renderable/spend/approve/content')

        %span
          = t(:'case_renderable/spend/amount', amount: rb[:amount])

      %ul.inline-list
        %li
          = t(:'case_renderable/creation', ts: rb[:creation])

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      %ul.inline-list
        %li
          = succeed ': ' do
            = t(:'case_renderable/spend/approve/author')

          %strong{title: "User[#{rb[:author][:id]}]"}
            &= rb[:author][:name]

          - if rb[:author][:me]
            %span.badge
              %i.fa.fa-user-o= ""
              = t(:'thats_you')

- if rb[:type] == :spend_update
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-fund
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %i.fa.fa-fw{title: rb[:id], class: 'fa-dollar'}
            = ""

        = succeed ': ' do
          = t("case_renderable/spend/update/#{rb[:update][:type].to_s}".to_sym)

        %strong{title: "User[#{rb[:author][:id]}]"}
          &= rb[:author][:name]

        - if rb[:author][:me]
          %span.badge
            %i.fa.fa-user-o= ""
            = t(:'thats_you')

      %ul.inline-list
        %li
          = t(:'case_renderable/creation', ts: rb[:creation])

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      - if rb[:update][:type] == :edit
        %ul
          - unless rb[:update][:old_amount] == rb[:update][:new_amount]
            %li
              = succeed ': ' do
                = t(:'case_renderable/spend/update/edit/amount')

              %span= t(:'case_renderable/spend/amount', amount: rb[:update][:old_amount].to_f)
              %i.fa.fa-arrow-right= ""
              %strong= t(:'case_renderable/spend/amount', amount: rb[:update][:new_amount].to_f)

          - unless rb[:update][:old_content] == rb[:update][:new_content]
            %li
              = succeed ': ' do
                = t(:'case_renderable/spend/update/edit/old_content')

              %blockquote.blockquote-fancy
                = rb[:update][:old_content]

            %li
              = succeed ': ' do
                = t(:'case_renderable/spend/update/edit/new_content')

              %blockquote.blockquote-fancy
                = rb[:update][:new_content]

- if rb[:type] == :task
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-task
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %i.fa.fa-fw{title: rb[:id], class: 'fa-check-square-o'}
            = ""

        = succeed ': ' do
          = t(:'case_renderable/task/author')

        %strong{title: "User[#{rb[:author][:id]}]"}
          &= rb[:author][:name]

        - if rb[:author][:me]
          %span.badge
            %i.fa.fa-user-o= ""
            = t(:'thats_you')

      %ul.inline-list
        %li
          = t(:'case_renderable/creation', ts: rb[:creation])

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      %ul.inline-list
        %li
          = succeed ': ' do
            = t(:'case_renderable/task/assigned')

          %span.caserenderable--task-assigned
            %strong{title: "User[#{rb[:assigned_to][:id]}]"}
              &= rb[:assigned_to][:name]

            - if rb[:assigned_to][:me]
              %span.badge
                %i.fa.fa-user-o= ""
                = t(:'thats_you')

      %blockquote.blockquote-fancy
        &= rb[:content]

- if rb[:type] == :task_update
  .caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
    .caserenderable-header
      %span.caserenderable-header-task
        %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
          %i.fa.fa-fw{title: rb[:id], class: 'fa-check-square-o'}
            = ""

        = succeed ': ' do
          = t("case_renderable/task/update/#{rb[:update][:type].to_s}".to_sym)

        %strong{title: "User[#{rb[:author][:id]}]"}
          &= rb[:author][:name]

        - if rb[:author][:me]
          %span.badge
            %i.fa.fa-user-o= ""
            = t(:'thats_you')

      %ul.inline-list
        %li
          = t(:'case_renderable/creation', ts: rb[:creation])

        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

    .caserenderable-content
      %ul.inline-list
        - if rb[:update][:type] == :assign
          %li
            = succeed ': ' do
              = t(:'case_renderable/task/assigned')

            %span.caserenderable--task-assigned
              %strong{title: "User[#{rb[:update][:to][:id]}]"}
                &= rb[:update][:to][:name]

              - if rb[:update][:to][:me]
                %span.badge
                  %i.fa.fa-user-o= ""
                  = t(:'thats_you')

      %blockquote.blockquote-fancy
        &= rb[:content]
