.body-header
  .body-header-section
    %nav.body-header-nav
      %ul.body-header-nav-list><
        %li><
          %a.body-header-brand{href: url('/')}><
            - header_logo_url = Kukupa.app_config['header-logo-url']
            - if header_logo_url.nil? || header_logo_url&.empty?
              %strong
                = site_name
            - else
              %img{src: header_logo_url, alt: site_name}

        - navbar_items.each do |item|
          %li{class: item[:selected]}><
            %a{href: item[:link]}><
              &= item[:text]

  .body-header-section
    %nav.body-header-nav
      %ul.body-header-nav-list><
        - if logged_in?
          %li{class: current_prefix?('/user')}><
            %a{href: url('/user')}><
              &= current_user_name_or_email

          %li><
            %a{href: url('/auth/logout')}><
              = t(:'auth/logout/title')

        - else
          %li{class: current_prefix?('/auth')}><
            %a{href: url('/auth')}><
              = t(:'auth/login/title')

- if navbar_sub_items.count.positive?
  .body-header.body-header-sub
    .body-header-section.body-header-section-sub
      %nav.body-header-nav.body-header-nav-sub
        %ul.body-header-nav-list><
          - navbar_sub_items.each do |item|
            %li{class: item[:selected]}><
              %a{href: item[:link]}><
                &= item[:text]

