.body-header
  .body-header-section
    %nav.body-header-nav
      %ul.body-header-nav-list
        %li
          %a.body-header-brand{href: '/'}
            - header_logo_url = Kukupa.app_config['header-logo-url']
            - if header_logo_url.nil? || header_logo_url&.empty?
              %strong
                = site_name
            - else
              %img{src: header_logo-url, alt: site_name}

        - navbar_items.each do |item|
          %li{class: item[:selected]}
            %a{href: item[:link]}
              &= item[:text]

  .body-header-section
    .body-header-auth
      - if logged_in?
        %ul.inline-list
          %li
            %span
              &= current_user_name_or_email
          %li
            %a{href: '/auth/logout'}
              = t(:'auth/logout/title')

      - else
        %a{href: '/auth'}
          = t(:'auth/login/title')
