#usersettings-index
  %h1= title

  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: '/user/change-name'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'usersettings/change_name/section_title')

    %label{for: 'new-name'}= t(:'name')
    %input#new-name{name: 'name', type: 'text', required: true, placeholder: t(:'name'), value: user[:name]}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil= ""
      = t(:'usersettings/change_name/submit')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: '/user/change-email'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'usersettings/change_email/section_title')

    %label{for: 'new-email'}= t(:'email_address/new')
    %input#new-email{name: 'email', type: 'email', required: true, placeholder: t(:'email_address/new'), value: user[:email]}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil= ""
      = t(:'usersettings/change_email/submit')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: '/user/change-password'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'usersettings/change_password/section_title')

    %label{for: 'changepass-current'}= t(:'password/current')
    %input#changepass-current{name: 'password', type: 'password', required: true, placeholder: t(:'password/current')}

    %label{for: 'changepass-new'}= t(:'password/new')
    %input#changepass-new{name: 'newpass', type: 'password', required: true, placeholder: t(:'password/new')}

    %label{for: 'changepass-new-confirm'}= t(:'password/new/confirm')
    %input#changepass-new-confirm{name: 'newpass_confirm', type: 'password', required: true, placeholder: t(:'password/new/confirm')}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil= ""
      = t(:'usersettings/change_password/submit')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: '/user/change-case-load-limit'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'usersettings/case_load/section_title')
    
    %p= t(:'usersettings/case_load/content/one', case_count: user[:case_count])
    %p= t(:'usersettings/case_load/content/two', case_count: user[:case_count])

    %label{for: 'case-load-limit'}= t(:'usersettings/case_load/value')
    %input#case-load-limit{name: 'limit', type: 'number', required: true, placeholder: t(:'usersettings/case_load/value'), value: user[:case_load_limit], min: 0}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-pencil= ""
      = t(:'usersettings/case_load/submit')
