.midsplash-container
  .midsplash.reset-request
    %h1= title

    %form.pure-form.pure-form-stacked.form-main{method: 'POST'}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

      %p.center= t(:'auth/reset_request/content')

      %label{for: 'email'}= t(:'email_address')
      %input#email{name: 'email', type: 'email', required: true, placeholder: t(:'email_address')}

      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-check= ""
        = t(:'auth/reset_request/submit')
