.midsplash-container
  .midsplash.password-reset
    %h1= title

    %form.pure-form.pure-form-stacked.form-main{method: 'POST'}
      %input{type: 'hidden', name: '_csrf', value: session[:csrf]}

      %label{for: 'password'}= t(:'password')
      %input#password{name: 'password', type: 'password', required: true, placeholder: t(:'password')}

      %label{for: 'password-confirm'}= t(:'password/confirm')
      %input#password-confirm{name: 'password_confirm', type: 'password', required: true, placeholder: t(:'password/confirm')}

      %button.pure-button.button.button-primary{type: 'submit'}
        %i.fa.fa-sign-in= ""
        = t(:'auth/reset/submit')
