.system-admin-quicklinks-create
  %h1= title

  .inline-form
    %a.pure-button.button{href: url("/system/quick-links")}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST'}
    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %h1= t(:'system/quicklinks/create/section_title')

    %label{for: 'name'}= t(:'system/quicklinks/field/name')
    %input#name{type: 'text', name: 'name', required: true, placeholder: t(:'system/quicklinks/field/name')}

    %label{for: 'url'}= t(:'system/quicklinks/field/url')
    %input#url{type: 'text', name: 'url', required: true, placeholder: t(:'system/quicklinks/field/url')}

    %label{for: 'icon'}= t(:'system/quicklinks/field/icon')
    %input#icon{type: 'text', name: 'icon', required: false, placeholder: t(:'system/quicklinks/field/icon')}

    %label{for: 'sort_order'}= t(:'system/quicklinks/field/sort_order')
    %input#sort_order{type: 'number', name: 'sort_order', required: true, value: 0}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-save= ""
      = t(:'system/quicklinks/create/submit')
