.caserenderable-container{'data-rb-type': rb[:type], id: rb[:anchor]}
  .caserenderable-header
    %span.caserenderable-header-fund
      %a.caserenderable-header-iconlink{href: "##{rb[:anchor]}"}
        %span{title: rb[:id]}
          %i.fa.fa-dollar.fa-fw= ""

      = succeed ': ' do
        = t(:'case_renderable/spend/approve/content')

      %span
        = t(:'case_renderable/spend/amount', amount: rb[:amount])

    %ul.inline-list
      %li
        = t(:'case_renderable/creation', ts: rb[:creation])

      - if can_edit
        - rb[:actions]&.each do |link|
          %li.case-renderable-action
            %a{href: link[:url]}
              %i.fa{class: link[:fa_icon]}= ""

  .caserenderable-content
    %ul.inline-list
      %li
        = succeed ': ' do
          = t(:'case_renderable/spend/approve/author')

        %strong{title: "User[#{rb[:author][:id]}]"}
          &= rb[:author][:name]

        - if rb[:author][:me]
          %span.badge
            %i.fa.fa-user-o= ""
            = t(:'thats_you')
