#system-admin-roles-edit
  %h1= title

  - if query_back
    %a.pure-button.button{href: query_back}
      %i.fa.fa-chevron-left= ""
      = t(:'back')

  %a.pure-button.button{href: url('/system/roles')}
    %i.fa.fa-search= ""
    = t(:'system/roles/edit/new_search')

  .form-main
    %h1= t(:'system/roles/edit/existing/section_title')

    - if roles.empty?
      %p= t(:'system/roles/edit/existing/item/no_roles')

    %ul.block-list
      - roles.each do |r|
        %li
          .sysadm-roleexist-role
            %code
              &= r.role

            = surround '(', ')' do
              &= r.id

          %form.block-form.sysadm-roleexist-remove{method: 'POST', action: url('/system/roles/edit/-/remove')}
            %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
            %input{type: 'hidden', name: 'uid', value: user.id}
            %input{type: 'hidden', name: 'rid', value: r.id}
            - if query_back
              %input{type: 'hidden', name: 'back', value: query_back}

            %button.pure-button.button.button-error{type: 'submit'}
              %i.fa.fa-trash= ""
              = t(:'system/roles/edit/existing/item/actions/remove')

  %form.pure-form.pure-form-stacked.form-main{method: 'POST', action: url('/system/roles/edit/-/add')}
    %h1= t(:'system/roles/edit/add/section_title')

    %input{type: 'hidden', name: '_csrf', value: session[:csrf]}
    %input{type: 'hidden', name: 'uid', value: user.id}
    - if query_back
      %input{type: 'hidden', name: 'back', value: query_back}

    %label{for: 'role-add'}= t(:'system/roles/edit/add/role')
    %input#role-add{type: 'text', name: 'role', required: true, placeholder: t(:'system/roles/edit/add/role')}

    %button.pure-button.button.button-primary{type: 'submit'}
      %i.fa.fa-plus= ""
      = t(:'system/roles/edit/add/submit')
