#system-admin-mailtemplates-index
  %h1= title

  .inline-form
    %a.pure-button.button{href: url('/system/mailtemplates/create')}
      %i.fa.fa-plus= ""
      = t(:'system/mail_templates/actions/create')

  .form-main
    %h1= t(:'system/mail_templates/enabled_section_title')
    
    %ul
      - templates_enabled.each do |group, tpls|
        %li
          %strong
            &= group

          %ul
            - if tpls.empty?
              %li= t(:'system/mail_templates/no_templates')

            - tpls.each do |tpl|
              %li
                %a{href: url("/system/mailtemplates/edit/#{tpl[:id]}")}><
                  &= tpl[:name]

                %span
                  = surround ' (', ') ' do
                    = "ID #{tpl[:id]}"

  .form-main
    %h1= t(:'system/mail_templates/disabled_section_title')
    
    %ul
      - templates_disabled.each do |group, tpls|
        %li
          %strong
            &= group

          %ul
            - if tpls.empty?
              %li= t(:'system/mail_templates/no_templates')

            - tpls.each do |tpl|
              %li
                %a{href: url("/system/mailtemplates/edit/#{tpl[:id]}")}><
                  &= tpl[:name]

                %span
                  = surround ' (', ') ' do
                    = "ID #{tpl[:id]}"

