.system-admin-container
  %ul.system-admin-nav.subpage-nav><
    %li{class: current?('/system')}><
      %a{href: url('/system')}
        = t(:'system/index/title')

    - if has_role?('system:config:access')
      %li{class: current_prefix?('/system/config')}><
        %a{href: url('/system/config')}
          = t(:'system/config/title')

    - if has_role?('system:roles:access')
      %li{class: current_prefix?('/system/roles')}><
        %a{href: url('/system/roles')}
          = t(:'system/roles/title')

    - if has_role?('system:worker')
      %li{class: current_prefix?('/system/worker')}><
        %a{href: url('/system/worker')}
          = t(:'system/worker/title')

    - if has_role?('system:apikey:access')
      %li{class: current_prefix?('/system/apikey')}><
        %a{href: url('/system/apikey')}
          = t(:'system/apikey/title')

    - if has_role?('system:debug')
      %li{class: current_prefix?('/system/debug')}><
        %a{href: url('/system/debug')}
          = t(:'system/debug/title')

  = yield
