.case-send-mail-templates{'data-case-id': case_obj.id}
  %h1= title

  = haml :'partials/case_header', layout: false, locals: {caseid: case_obj.id, casetype: case_obj.type, show: case_show}

  .form-main
    %h1= t(:'case/correspondence/send/templates/section_title')

    %a.pure-button.button{href: url("/case/#{case_obj.id}/correspondence/send?email=#{compose_email}")}
      %i.fa.fa-chevron-left= ""
      = t(:'case/correspondence/send/templates/back_without_template')

    - if templates.empty?
      = t(:'case/correspondence/send/templates/no_templates')

    - else
      %p
        = t(:'case/correspondence/send/templates/content')

      %ul
        - grouped_templates.each do |group, tpls|
          %li
            %strong
              &= group

            %ul
              - tpls.each do |tpl|
                %li
                  %a{href: tpl[:url]}
                    &= tpl[:name]
